body {
  margin: 0;
  font-family: "Arial", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

.keyboard__row {
  display: flex;
}

.keyboard__button {
  padding: 20px;
  border: 1px solid black;
  color: white;
  background-color: grey;
}

.keyboard__button:active {
  cursor: pointer;
}

.keyboard__button-title {
}

.keyboard__textarea {
  width: 500px;
  height: 200px;
}
